body{
background-color: lightsteelblue;
color: black;

}
.heading{
    width: 80%;
    font-size: 24px;

}
.nameofobject{
    color: black;

}
#camera{
border: 2px dashed olive;
width: 750px;
height: 500px;

}
#resultobjectname,#resultobjectaccuracy{
color: black;

}